.Frame {
    border-style: solid;
    border-width: .5em;
    border-radius: 2em;
    border-color: peru;
    background-color: lightcyan;
    width: 30em;
    height: 20em;
    transform-origin: 10em, 20em;
    float: center;
    left: 10%;
    right:50%;
    top:15%;
    position: absolute
}
.cardo {
    border-style: solid;
    border-width: .5em;
    border-radius: 2em;
    border-color: lightcoral;
    background-color: lavender;
    text-align: center;
    top:40%;
    left: 30%;
    width: 20em;
    right: 50%;
    position: absolute;
    transform-origin: 10em, 20em;
    height: 20em;
}
.cardBody{
    border-style: solid;
    border-width: .5em;
    border-radius: 2em;
    border-color: goldenrod;
    background-color: beige;
    margin-left: 80%;
    height:60%;
    width: 94%;
    align-content: flex-end;

    padding-left:  20%;
   
    left: 20em; 
}
.img{
    padding-top:20%;
    position: relative;

}